<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSA2Soap">
                    <security mode="Transport" />
                </binding>
                <binding name="WSA2Soap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44396/WSA2.asmx" binding="basicHttpBinding"
                bindingConfiguration="WSA2Soap" contract="WSadmin.WSA2Soap"
                name="WSA2Soap" />
        </client>
    </system.serviceModel>
</configuration>