<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceAD_UsuariosSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceAD_UsuariosSoap1" />
                <binding name="WebServiceAD_CuentasSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceAD_CuentasSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44396/WebServiceAD_Usuarios.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceAD_UsuariosSoap"
                contract="WSUsuarios.WebServiceAD_UsuariosSoap" name="WebServiceAD_UsuariosSoap" />
            <endpoint address="https://localhost:44396/WebServiceAD_Cuentas.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceAD_CuentasSoap"
                contract="WSCuentas.WebServiceAD_CuentasSoap" name="WebServiceAD_CuentasSoap" />
        </client>
    </system.serviceModel>
</configuration>